<h1>Properties#index</h1>

<% @properties.each do |property| %>
  <%= property.city %>
  <%= property.price %>
  <%= property.expert.name %>
<% end %>

<p>Find me in app/views/properties/index.html.erb</p>
